<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%; height: 20px;" [style.width]="progressWidth" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>



<app-wizard-step1 *ngIf="step == 1" (onSubmit)="setCompanyInfo($event)"></app-wizard-step1>
<app-wizard-step2 *ngIf="step == 2"></app-wizard-step2>